*{
    box-sizing: border-box;
}

html{
    font-size: 80.5%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    background-color: #fff;
    line-height: 1.6;
}

h1{
    font-weight: 300;
    letter-spacing: 1px;
}

.topbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid rgb(176, 176, 176);
}

p{
    font-size: 0.7rem;
}

.container{
    width: min(1100px, 92%);
    margin: 0 auto;
    background-color: #fff;

}
/*top1*/
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.8rem 0;
}

.topsize{
    font-weight: 300;
    font-size:0.8rem;
}

nav a {
    text-decoration: none;
    color: #222;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
}

nav a:hover{
    background-color: #fff;
}

section{
    padding: 3rem 0;
    scroll-margin-top: 4rem;
}

section h2{
    margin: 0 0;
}

.section-subtitle,
.hero-p{
    color: #fff;
    margin-bottom: 1rem;
}

.hero-h1{
    margin-bottom: 0.4rem;
    font-size: 2.2rem;
}

.hero-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.hero-text{
    min-width: 16rem;
    max-width: 45%;
}

.hero-img{
    max-width: 45%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    padding: 0.6rem;
}

.hero-img-img{
    width: 100%;
    display: block;
    border-radius: 0.5rem;
}

.sobre{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.textsobre{
    max-width: 100%;
    text-align: left;
    flex-wrap: wrap;
}

.faixa{
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around; /* Espaça os blocos*/
  align-items: center;
  padding: 2rem 1rem;
  flex-wrap: wrap; /*quebra linha no cll*/
}

.retangulo{
  background-color: white; /* Retângulo branco */
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 230px; /* Tamanho retângulo */
}

.retangulo img {
  width: 40px;
  height: 40px;
}

.retangulo h3 {
  font-size: 1rem;
  margin: 0;
}

.retangulo p {
  font-size: 0.85rem;
  color: #666;
  margin: 0;
}

.titulo{
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
}


.alt{
    background-color: #fff;
}


.menu-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.item{
    flex: 1 1 250px;
}

.thumb{
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.thumb img{
    width: 100%;
    height: 300px;
    display: block;
}

/*rotacao da img*/
.thumb img:hover{
    transform: scale(1.08) rotate(-1deg);
}
.item p{
    color: #666666;
    margin-top: 0;
    margin-bottom: 8px;
}

.contact-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.contact-grid > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 120px;
    min-width: 260px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 520px;
    width: 100%;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-row{
    display: flex;
    gap: 10px;
}

.form-row input{
    flex: 1;
}

input, textarea{
    font: inherit;
    padding: 13px 14px 13px 14px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    outline: none;
    transition: border 0.2s ease;
}

input:focus, textarea:focus{
    border-color: #555555;
}

textarea{
    resize: none;
    min-height: 120px;
}

button{
    padding: 12px 18px;
    background: #fff;
    color: fff;
    border:none;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background: #c1c1c1;
}

h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.mapa iframe{
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}


footer{
    border-top: 1px solid #fff;
    background-color: #ececec;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer a{
    text-align: none;
    color: black;
    font-weight: 600;
}

@media (max-width: 870px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    nav a {
        padding: 10px 11px 10px 11px;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px){
    .item{
        flex-basis: 80%;
    }
}